PKI_DIR = "."

[ ca ]
default_ca = mock_ca

[ mock_ca ]
certs            = ${ENV::PKI_DIR}/certs
certificate      = ${ENV::PKI_DIR}/certs/ca.crt
crl              = ${ENV::PKI_DIR}/crl.pem
crl_dir          = ${ENV::PKI_DIR}/crl
crlnumber        = ${ENV::PKI_DIR}/crlnumber
database         = ${ENV::PKI_DIR}/index.txt
email_in_dn      = no
new_certs_dir    = ${ENV::PKI_DIR}/newcerts
private_key      = ${ENV::PKI_DIR}/private/ca.key
serial           = ${ENV::PKI_DIR}/serial
RANDFILE         = ${ENV::PKI_DIR}/private/.rand
name_opt         = ca_default
cert_opt         = ca_default
default_days     = 3650
default_crl_days = 30
default_md       = sha512
preserve         = no
policy           = policy_default
#Extension from csr
copy_extensions  = copyall
#Allows duplicated CNs
unique_subject = no

[ policy_default ]
organizationName = optional
commonName       = supplied

